---
layout: 'default'
version: '0.0'
---
<% 
    // this makes sure that all pages include the correct sideboxes:
    document.rightsideboxes= ['headlines.inc' ,'coapp-commits.inc' ];
%>

<h1><%= document.title %></h1>
<h4>Version:<%= document.version %></h4>
<div id="post" class="post">
	<%- content %>
</div>

<script>
$('video').mediaelementplayer({
    enableAutosize: true,
    features: ['playpause','progress','current','duration','volume','fullscreen']
});

/*
function resizeVideos() {
    // I really suck at making this work.
    var w = Math.min( $('#post').width(), 1280 );
    var h = w /16 * 9;
    
    $(".hiddenVideo").each(function(i) { $(this).css({ height: h, width: w }).css('visibility','visible');  } );
    $(".mejs-container").each(function(i) { $(this).css({ height: h, width: w });});
    $(".mejs-poster").each(function(i) { $(this).css({ height: h, width: w });});
    $(".mejs-layer").each(function(i) { $(this).css({ height: h, width: w });});

    $("video").each(function(i) { 
        //$(this)[0].player.setPlayerSize(w,h);
        $(this).css({ height: h, width:w });
        //$(this)[0].player.setControlsSize();
        $(this)[0].player.hideControls();
        
    });
    
}

$(window).resize(resizeVideos);
$(document).ready(function() { setTimeout(resizeVideos, 2000); });
*/
</script>

<!-- Disqus Comment System -->
<div id="disqus_thread"><div id="dsq-content"></div></div>
<ul id="dsq-comments"></ul>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'coapp'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    
    var disqus_identifier = "<%- document.url +"/" + document.version %>";
    var disqus_url = 'http://www.coapp.org<%= document.url %>?version=<%- document.version %>';
    var disqus_title = "<%= document.title %>/<%- document.version %>";
    var disqus_developer = 0; 
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>