<!DOCTYPE html>
<% 
    var cms = require("coappcms"); 
    var util = require('util'); 
    cms.setConfig(document.docpad.config); 
%>
<html lange="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>CoApp - <%= document.title %></title>
	<meta name="description" content="<%= document.summary || '' %>">
	<meta name="author" content="<%= document.author || 'CoApp Project'%>">

    <meta property="og:title" content="CoApp - <%= document.title %>"/>
    <% if(document.url == "/index.html")  { %>
        <meta property="og:type" content="website"/>
    <% } else { %>
        <meta property="og:type" content="article"/>
    <% } %>
    <meta property="og:image" content="http://coapp.org/images/logo-small.png"/>
    <meta property="og:url" content="http://coapp.org<%= document.url == "/index.html" ? "" : document.url %>"/>
    <meta property="og:site_name" content="CoApp"/>
    <meta property="og:admins" content="CoApp - fearthecowboy"/>
    

	<!-- Icons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!-- Shims: IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script async src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Styles -->
	<link href="/styles/style.css" rel="stylesheet"/>
	<link href="/styles/prettify.css" rel="stylesheet"/>
    <link href="/styles/mediaelementplayer.min.css" rel="stylesheet"  />
	
</head>
<body >
    
	<!-- Scripts -->
	<script src="/scripts/jquery-1.6.4.min.js"></script>
	<script src="/scripts/prettify.js"></script>
    <script src="/scripts/jquery.tweet.js"></script>
    <script src="/scripts/mediaelement-and-player.js"></script>
    <div id="fb-root"></div>
      <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      </script>
      <script type="text/javascript">
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15630590-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

	<!-- Markup -->
	<div class="topbar">
		<div class="fill">
			<div class="container-fluid">
				<h3><a href="/index.html"><image style="margin:0; padding:0; position:absolute; top:2px; left:-2px;" src="/images/logo-small_32x32.png"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CoApp</a></h3>
				<ul>
					<% documents.enumerable().orderBy('order').where(function(each){ return each.url.indexOf('/pages') == 0;}).each(function(each) { %>  
                        <li typeof="sioc:Page" about="<%= each.url %>" class="<%= document.url == each.url ? 'active' : '' %>">
                            <a href="<%= each.url %>" property="dc:title"><%= each.title %></a>
                        </li>
                    <% }); %>
				</ul>
                
                <% if( document.nosocial == undefined || document.nosocial != true) { %>
                <span style="display:inline-block; float:right;">
                    <span style="margin-top:8px; height;100%; display:inline-block; "><g:plusone href="http://coapp.org<%= document.url == "/index.html" ? "" : document.url %>"></g:plusone></span>
                    <div class="fb-like" style="top:-5px;" data-href="http://coapp.org<%= document.url == "/index.html" ? "" : document.url %>" data-layout="button_count" data-show-faces="true" data-colorscheme="dark" data-font="tahoma"></div>
                </span>                
                <% } %>
			</div>
		</div>
	</div>
    <div class="wrapper">
	<div class="container-fluid pushdown">
        <div class="sidebar">
            <%  if( document.leftsideboxes  ) { %>
                <% document.leftsideboxes.forEach( function(each) {  %>
                    <%- cms.include(each, document.templateData) %>
                <% }); %>
            <% } %>
        </div> 
		<section id="content" class="content">
        <div class="spanonethird rightsidebox" > <!-- float:right; display: inline; veritical-align:top; -->
            <%  if( document.rightsideboxes  ) { %>
                <% document.rightsideboxes.forEach( function(each) {  %>
                    <%- cms.include(each, document.templateData) %>
                <% }); %>
            <% } %>
        </div> 
            <div class="spantwothirds">
			<%- content %>
            </div>
		</section>
    </div>  
    <br>    
    <div class="push" ></div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
        <p  style="float:left;">&copy; CoApp Contributors, 2011. </p>
        <p style="float:right;">
            This website was generated on <%= site.date.toShortDateString() %> and has <%= site.totalDocuments %> documents
        </p>
        </div>
    </footer>
</body>
</html>